In [119]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

df=pd.read_csv('index.csv')

In [121]:
df.head()

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte

In [123]:



df.isnull().sum()

date            0
datetime        0
cash_type       0
card           89
money           0
coffee_name     0
dtype: int64

In [ ]:
df['month']=df['date'].dt.month
df['year']=df['date'].dt.year

In [ ]:
df.drop(columns=['datetime'], inplace=True)

In [ ]:
import pandas as pd

# Load and prepare the dataset
data = pd.read_csv('index.csv')
data['date'] = pd.to_datetime(data['date'])
data['datetime'] = pd.to_datetime(data['datetime'])

# 1. Sales Over Time Analysis
# Daily, Weekly, and Monthly sales aggregations
daily_sales = data.groupby('date')['money'].sum()
weekly_sales = data.resample('W', on='date')['money'].sum()
monthly_sales = data.resample('M', on='date')['money'].sum()

# Convert sales series to DataFrames for easier manipulation
daily_sales_df = daily_sales.to_frame(name="money")
weekly_sales_df = weekly_sales.to_frame(name="money")
monthly_sales_df = monthly_sales.to_frame(name="money")

# Add next day/week/month sales columns
daily_sales_df['next_day_sales'] = daily_sales_df['money'].shift(-1)
weekly_sales_df['next_week_sales'] = weekly_sales_df['money'].shift(-1)
monthly_sales_df['next_month_sales'] = monthly_sales_df['money'].shift(-1)

# 2. Customer-Specific Purchases
# Aggregate total, average, and count of purchases per customer
customer_purchases = data.groupby('card').agg(
    total_purchases=('money', 'sum'),
    average_purchase=('money', 'mean'),
    purchase_count=('money', 'count')
)

# 3. Product Popularity
product_popularity = data['coffee_name'].value_counts()

# Display the results
print("Daily Sales with Next Day Prediction:\n", daily_sales_df.head())
print("\nWeekly Sales with Next Week Prediction:\n", weekly_sales_df.head())
print("\nMonthly Sales with Next Month Prediction:\n", monthly_sales_df.head())
print("\nCustomer-Specific Purchases:\n", customer_purchases.head())
print("\nProduct Popularity:\n", product_popularity)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Set plot style for consistency
sns.set(style="whitegrid")

# 1. Sales Over Time
fig, axs = plt.subplots(3, 1, figsize=(14, 18))

# Daily Sales
axs[0].plot(daily_sales_df.index, daily_sales_df['money'], color='skyblue')
axs[0].set_title("Daily Sales Over Time")

axs[0].set_xlabel("Date")
axs[0].set_ylabel("Sales ($)")

# Weekly Sales
axs[1].plot(weekly_sales_df.index, weekly_sales_df['money'], color='salmon')
axs[1].set_title("Weekly Sales Over Time")
axs[1].set_xlabel("Date")
axs[1].set_ylabel("Sales ($)")

# Monthly Sales
axs[2].plot(monthly_sales_df.index, monthly_sales_df['money'], color='olive')
axs[2].set_title("Monthly Sales Over Time")
axs[2].set_xlabel("Date")
axs[2].set_ylabel("Sales ($)")

plt.tight_layout()
plt.show()

# 2. Top Customers by Total Spend
top_customers = customer_purchases.nlargest(10, 'total_purchases')
plt.figure(figsize=(10, 6))
sns.barplot(y=top_customers.index, x=top_customers['total_purchases'], palette="Blues_d")
plt.title("Top 10 Customers by Total Spend")
plt.xlabel("Total Spend ($)")
plt.ylabel("Customer ID")
plt.show()

# 3. Product Popularity
plt.figure(figsize=(10, 6))
sns.barplot(x=product_popularity.index, y=product_popularity.values, palette="viridis")
plt.title("Product Popularity")
plt.xlabel("Coffee Name")
plt.ylabel("Purchase Count")
plt.xticks(rotation=45)
plt.show()